* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.app {
    text-align: center;
}

button {
    padding: 0.5rem;
    border-radius: 0.2rem;
    outline: none;
    border: none;
    display: block;
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
}

button.danger {
    background-color: #d14d4d;
}

button:hover {
    cursor: pointer;
}

/*.header {*/
/*    color: white;*/
/*    background-color: blue;*/
/*    height: 100%;*/
/*    padding: 1rem;*/
/*}*/

/*.user-card {*/
/*    background-color: aliceblue;*/
/*    border-radius: 0.3rem;*/
/*    padding: 1rem;*/
/*}*/
