* {
    margin: 0;
}

.app {
    text-align: center;
}

.header {
    color: white;
    background-color: blue;
    height: 100%;
    padding: 1rem;
}

.user-card {
    background-color: aliceblue;
    border-radius: 0.3rem;
    padding: 1rem;
}
